# Assignment 1: the flow control and statement in Python (09-28)

## **1.** Write a Python code to find all the numbers from the range [1000, 2000], which can be divisible by  5 and is mutiples of 3 at the same time. Use the `if` and `for` statement and the `and` operation. Put the results into a integer list.

In [2]:
number_list = []
for i in range(1000,2001):
    if i%5 == 0 and i%3 == 0:
        number_list.append(i)
for interger in number_list:
    print(interger)

1005
1020
1035
1050
1065
1080
1095
1110
1125
1140
1155
1170
1185
1200
1215
1230
1245
1260
1275
1290
1305
1320
1335
1350
1365
1380
1395
1410
1425
1440
1455
1470
1485
1500
1515
1530
1545
1560
1575
1590
1605
1620
1635
1650
1665
1680
1695
1710
1725
1740
1755
1770
1785
1800
1815
1830
1845
1860
1875
1890
1905
1920
1935
1950
1965
1980
1995

## **2.** Write a Python code to find all the numbers from the range [1000, 2000], which can be divisible by  7 or can be divisible by 13. Use the `if` and `for` statement and the `and` operation. Put the results into a integer list.

In [3]:
number_list = []
for i in range(1000,2001):
    if i%7 == 0 or i%13 == 0:
        number_list.append(i)
for interger in number_list:
    print(interger)

1001
1008
1014
1015
1022
1027
1029
1036
1040
1043
1050
1053
1057
1064
1066
1071
1078
1079
1085
1092
1099
1105
1106
1113
1118
1120
1127
1131
1134
1141
1144
1148
1155
1157
1162
1169
1170
1176
1183
1190
1196
1197
1204
1209
1211
1218
1222
1225
1232
1235
1239
1246
1248
1253
1260
1261
1267
1274
1281
1287
1288
1295
1300
1302
1309
1313
1316
1323
1326
1330
1337
1339
1344
1351
1352
1358
1365
1372
1378
1379
1386
1391
1393
1400
1404
1407
1414
1417
1421
1428
1430
1435
1442
1443
1449
1456
1463
1469
1470
1477
1482
1484
1491
1495
1498
1505
1508
1512
1519
1521
1526
1533
1534
1540
1547
1554
1560
1561
1568
1573
1575
1582
1586
1589
1596
1599
1603
1610
1612
1617
1624
1625
1631
1638
1645
1651
1652
1659
1664
1666
1673
1677
1680
1687
1690
1694
1701
1703
1708
1715
1716
1722
1729
1736
1742
1743
1750
1755
1757
1764
1768
1771
1778
1781
1785
1792
1794
1799
1806
1807
1813
1820
1827
1833
1834
1841
1846
1848
1855
1859
1862
1869
1872
1876
1883
1885
1890
1897
1898
1904
1911
1918
1924
1925
1932
1937
1939
1946
1950
1953
1960
1963
1967
1974
1976
1981
1988
1989
1995

## 3. Write a Python code to ask user to input 5 integer inputs using the `input()` function and `for` loop, and the store all the 5 integers into a interger list. Print the final integer list.
     Generate an empty list
     user_input: ask user to input a number:
     append user_input into  an interger list

In [39]:
number_list = []
for i in range(5):
    x = int(input('Please enter in integer here: '))
    number_list.append(x)

Please enter in integer here: 2
Please enter in integer here: 4
Please enter in integer here: 6
Please enter in integer here: 8
Please enter in integer here: 10

In [40]:
number_list

[2, 4, 6, 8, 10]

## **4.** Write a Python code with for loop to find the smallest number in a given set below. Print the smallest number
      define smallest number
      smallest = very small number
      for item in the list:
          if item < smallest update smallest
      if smallest != 0
         calculate smallest
     print smallest

In [10]:
number_list = [13, 22, 5, 17, 21, 36, 99, 101, 6]

In [13]:
for item in number_list:
    if item%1 == 0:
        if item < smallest: smallest = item
print(smallest)

5

## **5.** Write a Python code with for loop to find the average of all the even numbers in a given list. Print the final result.

### Try your code in both of the two number lists below and find a way to handle any possible errors

In [59]:
number_list = [13, 22, 5, 17, 21, 36, 99, 101, 6]


# find the average of all the even numbers in the given list with for loop (e.g., result = (22 + 36 + 6)/3)

# Try your codes in both number_list and number_list_1

# write your code here

even_numbers = []
for i in number_list:
    if i % 2 == 0:
        even_numbers.append(i)
        
avg_even_numbers = sum(even_numbers)/len(even_numbers)
print(avg_even_numbers)

21.333333333333332

In [67]:
number_list_1 = [13, 15, 17, 21, 33, 29, 5]

even_numbers_1 = []
for i in numbers_list_1:
    if i % 2 == 0:
        even_numbers_1.append(i)
        
avg_even_numbers_1 = sum(even_numbers_1)/len(even_numbers_1)

print(avg_even_numbers_1)

NameError: name 'numbers_list_1' is not defined

In [64]:
number_list_1 = [13, 15, 17, 21, 33, 29, 5]

even_numbers_1 = []
for i in number_list_1:
    if i % 2 == 0:
        even_numbers_1.append(i)
    else:
        even_numbers_1.append(0)

In [65]:
even_numbers_1

[0, 0, 0, 0, 0, 0, 0]

## **6.** Write a Python program to receive two integers from user input using the `input()` function, and then calculate the sum of these two integers. If the sum is larger than 100, then return 100. Otherwise, return the original value. 

### Try to test the accuracy of your code with different scenarios.

In [32]:
# less than 100

result_list = []
for i in range(2):
    x = int(input('Please enter an integer here: '))
    result_list.append(x)

Please enter an integer here: 50
Please enter an integer here: 35

In [33]:
result_list

[50, 35]

In [34]:
if sum(result_list) > 100:
    print(100)
else:
    print(sum(result_list))

85

In [35]:
# more than 100
result_list = []
for i in range(2):
    x = int(input('Please enter inter here: '))
    result_list.append(x)

Please enter inter here: 80
Please enter inter here: 50

In [36]:
result_list

[80, 50]

In [37]:
if sum(result_list) > 100:
    print(100)
else:
    print(sum(result_list))

100

## **7.** Write a Python program to print the following patterns with nested for loop.
#### *
#### **
#### ***
#### ****
#### *****

In [17]:
for i in range(1,6):
    for j in range(i):
        print('*', end = ' ')
    print('\n')

*

* *

* * *

* * * *

* * * * *

## **8.** Write a Python code to print the following number matrix with nested for loop.

#### 1 2 3 4 5
#### 6 7 8 9 10
#### 11 12 13 14 15
#### 16 17 18 19 20
#### 21 22 23 24 25
     define number of rows and cols in the matrix
     input a variable to keep tabs with current number
     iterate through rows
     iterate through cols
     print current number

In [21]:
num_rows = 5
num_cols = 5
current_num = 1
for i in range(num_rows):
    for j in range(num_cols):
        print(current_num, end= ' ')
        current_num += 1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

## **9.** Given the following two number lists `num_list_a` and `num_list_b`, print the pair multiplication of all the possible combinations if the item from the first list is not equal to the item from the second list, using nested `for` loop.

### For instance, the sample output should like:
### 1*3 = 3
### 1*6 = 6
### 1*11 = 11
### ......
### a*b = c (as long as a != b)
### ......

In [29]:
num_list_a = [1, 3, 6, 8, 9, 12]

num_list_b = [3, 6, 11, 12, 19, 8]

In [31]:
for i in num_list_a:
    for j in num_list_b:
        if i != j:
            print(i, '*', j, '=', i*j)

1 * 3 = 3
1 * 6 = 6
1 * 11 = 11
1 * 12 = 12
1 * 19 = 19
1 * 8 = 8
3 * 6 = 18
3 * 11 = 33
3 * 12 = 36
3 * 19 = 57
3 * 8 = 24
6 * 3 = 18
6 * 11 = 66
6 * 12 = 72
6 * 19 = 114
6 * 8 = 48
8 * 3 = 24
8 * 6 = 48
8 * 11 = 88
8 * 12 = 96
8 * 19 = 152
9 * 3 = 27
9 * 6 = 54
9 * 11 = 99
9 * 12 = 108
9 * 19 = 171
9 * 8 = 72
12 * 3 = 36
12 * 6 = 72
12 * 11 = 132
12 * 19 = 228
12 * 8 = 96

## **10.** Write a Python code to get all the prime numbers in the range of `[0, 100]`. Print all the prime numbers.

### Tip: how to find if a number is a prime number
### For number `a`, check if `a` is divisible by any number between `[2, a-1]`, if yes, then `a` is not a prime number. Otherwise, `a` is a prime number.

In [41]:
prime_numbers = []

for i in range(0, 101):
    if i > 1 :
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            prime_numbers.append(i)

In [42]:
prime_numbers

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]