## Hands-on

### Exercise on If Statement and For Loop, better understand how for loop and if statement work
### **1.** Do this exercise again, find the largest value in the given list

In [4]:
number_list = [13, 22, 5, 17, 21, 36, 99, 101, 6]

In [51]:
largest_number = -10000

In [53]:
for i in number_list:
    if i>largest_number < i:
        largest_number = i
print(largest_number, 'is the largest number')

101 is the largest number

In [11]:
fruit_list = ['kiwi', 'apple', 'watermelton', 'pear', 'grape']

In [12]:
for item in fruit_list:
    print('before:', item)
    item = 'strawberry'
    print('after', item, end = '\n==========\n')

before: kiwi
after strawberry
==========
before: apple
after strawberry
==========
before: watermelton
after strawberry
==========
before: pear
after strawberry
==========
before: grape
after strawberry
==========

### **2.** Give a long sentence, print all the words except 'a', 'is', and 'of' (remove stop words in NLP)

In [57]:
given_string = '''

the computer is a machine that can be programmed to carry out 
sequences of arithmetic or logical 
operations automatically

'''

# write your code here

world_list = given_string.split()

#### Write the code using while loop

convert this whole string into seprated words

    input: a given long string
    output ; print all the words except a, is, and of
    convert the whole string into separated  words
    for all the words in the lists, we check if a word is "a, is, of"
    if yes: ignore
    else: print

In [59]:
print(world_list, end = ' ')

['the', 'computer', 'is', 'a', 'machine', 'that', 'can', 'be', 'programmed', 'to', 'carry', 'out', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically']

In [65]:
i = 0
while i < len(world_list):
    if world_list[i] == 'a' or world_list[i] == 'is' or world_list[i] == 'of':
        i = i + 1
        continue
    print(world_list[i], end = ' ')
    i = i + 1

the computer machine that can be programmed to carry out sequences arithmetic or logical operations automatically

#### Write the code using for loop

In [66]:
for i in world_list:
    if i != 'a' and i != 'is' and i != 'of':
        print(i, end=' ')

the computer machine that can be programmed to carry out sequences arithmetic or logical operations automatically

In [67]:
for i in world_list:
    if not(i == 'a' or i == 'is' or i == 'of'):
        print(i, end=' ')

the computer machine that can be programmed to carry out sequences arithmetic or logical operations automatically

### **3.** Find all numbers from the range [100, 1000] which can be divided by 2 or can be divided by 3. Put all these numbers in a number list and print this number list

  input: a range of number in [100, 10000]
  output: print certain numbers
  Generate an empty list
  for every number in the range:
  check the condiction:
  if yes: add this number into the list

In [6]:
number_list = []
for i in range(100, 1001):
    if i%2 == 0 or i%3 == 0:
        number_list.append(i)
print(number_list)

[100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 116, 117, 118, 120, 122, 123, 124, 126, 128, 129, 130, 132, 134, 135, 136, 138, 140, 141, 142, 144, 146, 147, 148, 150, 152, 153, 154, 156, 158, 159, 160, 162, 164, 165, 166, 168, 170, 171, 172, 174, 176, 177, 178, 180, 182, 183, 184, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 204, 206, 207, 208, 210, 212, 213, 214, 216, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 236, 237, 238, 240, 242, 243, 244, 246, 248, 249, 250, 252, 254, 255, 256, 258, 260, 261, 262, 264, 266, 267, 268, 270, 272, 273, 274, 276, 278, 279, 280, 282, 284, 285, 286, 288, 290, 291, 292, 294, 296, 297, 298, 300, 302, 303, 304, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 326, 327, 328, 330, 332, 333, 334, 336, 338, 339, 340, 342, 344, 345, 346, 348, 350, 351, 352, 354, 356, 357, 358, 360, 362, 363, 364, 366, 368, 369, 370, 372, 374, 375, 376, 378, 380, 381, 382, 384, 386, 387, 388, 390, 392, 393, 394, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 414, 416, 417, 418, 420, 422, 423, 424, 426, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 446, 447, 448, 450, 452, 453, 454, 456, 458, 459, 460, 462, 464, 465, 466, 468, 470, 471, 472, 474, 476, 477, 478, 480, 482, 483, 484, 486, 488, 489, 490, 492, 494, 495, 496, 498, 500, 501, 502, 504, 506, 507, 508, 510, 512, 513, 514, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 536, 537, 538, 540, 542, 543, 544, 546, 548, 549, 550, 552, 554, 555, 556, 558, 560, 561, 562, 564, 566, 567, 568, 570, 572, 573, 574, 576, 578, 579, 580, 582, 584, 585, 586, 588, 590, 591, 592, 594, 596, 597, 598, 600, 602, 603, 604, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 624, 626, 627, 628, 630, 632, 633, 634, 636, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 656, 657, 658, 660, 662, 663, 664, 666, 668, 669, 670, 672, 674, 675, 676, 678, 680, 681, 682, 684, 686, 687, 688, 690, 692, 693, 694, 696, 698, 699, 700, 702, 704, 705, 706, 708, 710, 711, 712, 714, 716, 717, 718, 720, 722, 723, 724, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 746, 747, 748, 750, 752, 753, 754, 756, 758, 759, 760, 762, 764, 765, 766, 768, 770, 771, 772, 774, 776, 777, 778, 780, 782, 783, 784, 786, 788, 789, 790, 792, 794, 795, 796, 798, 800, 801, 802, 804, 806, 807, 808, 810, 812, 813, 814, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 834, 836, 837, 838, 840, 842, 843, 844, 846, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 866, 867, 868, 870, 872, 873, 874, 876, 878, 879, 880, 882, 884, 885, 886, 888, 890, 891, 892, 894, 896, 897, 898, 900, 902, 903, 904, 906, 908, 909, 910, 912, 914, 915, 916, 918, 920, 921, 922, 924, 926, 927, 928, 930, 932, 933, 934, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 956, 957, 958, 960, 962, 963, 964, 966, 968, 969, 970, 972, 974, 975, 976, 978, 980, 981, 982, 984, 986, 987, 988, 990, 992, 993, 994, 996, 998, 999, 1000]

### **4.** Go through all numbers in range [100, 150]
     print "the number i is 3x" if the number is divisible by 3
     print "the number i is 5x" if the number is divisible by 5
     print "the number i is 7x" if the number is divisible by 7
     print 'the number i is -x' for the rest of the numbers

    input: Given a range of numbers
    output: Print something depending on the numbers
     for every number in the list:
    if the number  = 3x: print sth.
    elif the number = 5x: print sth.
    elif the number = 7x: print sth.
    else: print sth.

In [70]:
for i in range(100,150):
    if i%3 == 0:
        print('The number', i, 'is 3x' )
    elif i%5 == 0:
        print('The number', i, 'is 5x')
    elif i%7 == 0:
        print('The number', i, 'is 7x')
    else:
        print('The number', i, 'is -x')

The number 100 is 5x
The number 101 is -x
The number 102 is 3x
The number 103 is -x
The number 104 is -x
The number 105 is 3x
The number 106 is -x
The number 107 is -x
The number 108 is 3x
The number 109 is -x
The number 110 is 5x
The number 111 is 3x
The number 112 is 7x
The number 113 is -x
The number 114 is 3x
The number 115 is 5x
The number 116 is -x
The number 117 is 3x
The number 118 is -x
The number 119 is 7x
The number 120 is 3x
The number 121 is -x
The number 122 is -x
The number 123 is 3x
The number 124 is -x
The number 125 is 5x
The number 126 is 3x
The number 127 is -x
The number 128 is -x
The number 129 is 3x
The number 130 is 5x
The number 131 is -x
The number 132 is 3x
The number 133 is 7x
The number 134 is -x
The number 135 is 3x
The number 136 is -x
The number 137 is -x
The number 138 is 3x
The number 139 is -x
The number 140 is 5x
The number 141 is 3x
The number 142 is -x
The number 143 is -x
The number 144 is 3x
The number 145 is 5x
The number 146 is -x
The number 147 is 3x
The number 148 is -x
The number 149 is -x

### **5.** Keep asking a user input a number with the `input function`, put the input number into a number list, until a negative number is inputed. Print the number list

    Generate an empty list
    user_input: ask user to input a number:
    while the user_input is not negative:
       append user_input into number list
       user_input: ask user to input a number:

In [15]:
number_list = []
user_input =int(input('Please enter a number:'))
while user_input >= 0:
    number_list.append(user_input)
    user_input= int(input('Please enter a number:'))
print('A negative number is inputed')
print(number_list)

Please enter a number:1
Please enter a number:2
Please enter a number:3
Please enter a number:-1
A negative number is inputed
[1, 2, 3]

### **6.** Count how many numbers in a given list are smaller than 100.

In [16]:
number_list = [1, 3, 12, 39, 5, 90, 99, 101, 21, 37, 98]

In [17]:
total_number = 0
for item in number_list:
    if item < 100:
        total_number += 1
print(total_number)

10

### **7.** Find the largest and smallest even number in a given list, and calculate Largest/Smallest

In [18]:
number_list_1 = [13, 22, 5, 67, 102, 38, 37, 52, 97, 99]

In [20]:
number_list_2 = [13, 22, 5, 67, 102, 38, 37, 52, 97, 99, 0]

    define largetst and smallest
    largest = very small number
    smallest = very largw number
    for item in the list:
        if item is even:
        if item > largest: update largest
        if item < smallest update smallest
    if smallest != 0    
       calculate largest/smallest
    else: print --> error

In [28]:
largest = -10000
smallest = 10000
for item in number_list_1:
    if item%2 == 0:
        if item > largest: largest = item
        if item < smallest: smallest = item
print(largest, smallest)

102 22

In [29]:
largest = -10000
smallest = 10000
for item in number_list_2:
    if item%2 == 0:
        if item > largest: largest = item
        if item < smallest: smallest = item
print(largest, smallest)

102 0

### **8.** Given two integers `x` and `y` from user input, find the Least Common Multiple (LCM) of `x` and `y`
#### LCM is the smallest positive number that can be divisible by both `x` and `y`
    For example, 
        LCM (2, 3) = 6
        
        LCM (5, 10) = 10
        
        LCM (4, 6) = 12

In [30]:
x = int(input('Please enter the first positive number:'))
y = int(input('Please enter the second positive number:'))

Please enter the first positive number:4
Please enter the second positive number:6

In [31]:
lcm = 1
while(True):
    if (lcm%x == 0) and (lcm%y == 0):
        break
    lcm = lcm + 1
print(lcm)

12

## Nested For Loop Exercise

### **9.** Write a nested `for` loop to print the following pattern

    * * * * * * 
    * * * * * *
    * * * * * *

In [33]:
for i in range(3):
    for j in range(6):
        print('*', end=' ')
    print('\n')

* * * * * *

* * * * * *

* * * * * *

### **10.** Write a nested `for` loop to print a mulitplication table (`10 * 10`)

    1 2 3 4 5 6 7 8 9 10
    2 4 6 8 10 12 14 16 18 20
    ......
    10 20 30 40 ...... 100

In [35]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = ' ')
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

### **11.** Print the following pattern with nested `for` loop

    1
    2 2 
    3 3 3 
    4 4 4 4
    5 5 5 5 5

In [68]:
for i in range(1, 6):
    for j in range(i):
        print(i, end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### **12.** Calculate the average lenght of the movie title given the movie list

In [40]:
movie_data = ['All quite on the western front', 'Duck soup', 'The godfather', 'The shawshank redemption', 'Fight club', 'Transformers']

In [41]:
movie_data

['All quite on the western front',
 'Duck soup',
 'The godfather',
 'The shawshank redemption',
 'Fight club',
 'Transformers']

In [44]:
total_title_length = 0
for movie in movie_data:
    print(movie.split())
    word_list = len(movie.split())
# print(word_list)
    total_title_length += word_list
print(total_title_length)
print(total_title_length/len(movie_data))

['All', 'quite', 'on', 'the', 'western', 'front']
['Duck', 'soup']
['The', 'godfather']
['The', 'shawshank', 'redemption']
['Fight', 'club']
['Transformers']
16
2.6666666666666665

### **13.** Calculate the average lenght of chars for every words in the given movie list

In [46]:
total_word = 0
total_char = 0
for movie in movie_data:
    word_list = movie.split()
    print(word_list)
    for word in word_list:
        print(word, len(word))
        total_word += 1
        total_char = total_char + len(word)
        print(word, total_word, total_char)
#print(word, len(word))
print('average: ', total_char/total_word)

['All', 'quite', 'on', 'the', 'western', 'front']
All 3
All 1 3
quite 5
quite 2 8
on 2
on 3 10
the 3
the 4 13
western 7
western 5 20
front 5
front 6 25
['Duck', 'soup']
Duck 4
Duck 7 29
soup 4
soup 8 33
['The', 'godfather']
The 3
The 9 36
godfather 9
godfather 10 45
['The', 'shawshank', 'redemption']
The 3
The 11 48
shawshank 9
shawshank 12 57
redemption 10
redemption 13 67
['Fight', 'club']
Fight 5
Fight 14 72
club 4
club 15 76
['Transformers']
Transformers 12
Transformers 16 88
average:  5.5